<form class="form-horizontal" #f="ngForm" (ngSubmit)="onSubmit(f)">

  <div class="form-group">
    <label for="cep" class="control-label">CEP</label>
      <input type="text" class="form-control" id="cep"
        name="cep" ngModel required #cep="ngModel"
        mask="00000-000" (blur)="viacep(cep)" (keyup.enter)="viacep(cep)">

      <div class="alert alert-danger" role="alert"
        *ngIf="!cep.valid && cep.touched">
        CEP is required
      </div>

      <input placeholder="Street" value="{{ data.logradouro }}">
      <input placeholder="Complement" value="{{ data.complemento }}">
      <input placeholder="Neighborhood" value="{{ data.bairro }}">
      <br>
      <input placeholder="City" value="{{ data.localidade }}">
      <input placeholder="UF" value="{{ data.uf }}">
      <input placeholder="IBGE" value="{{ data.ibge }}">
      <br>
      <input placeholder="Gia" value="{{ data.gia }}">
      <input placeholder="DDD" value="{{ data.ddd }}">
      <input placeholder="Siafi" value="{{ data.siafi }}">

  </div>
</form>
